.pointer div {
    pointer-events: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    mask: url('img/pointer_outline.png') 0px 0px subtract;
}
.pointer {
    pointer-events: none;
    position: fixed;
    transform: translate(-50%, 0);
    margin: 0;
    padding: 0;
    width: 65px;
    height: 65px;
    background-image: url('img/pointer_nums.png');
    mask-image: url('img/pointer_background.png');
    mask-composite: subtract;
    z-index: 2000;
}
.P1.pointer { background-position: 0px 0px; background-color: #1f8cfa; }
.P2.pointer { background-position: 0px 66px; background-color: #f84a3c; }
.P3.pointer { background-position: 64px 1px; background-color: #2ea463; }
.P4.pointer { background-position: 64px 66px; background-color: #fbb432; }