remote.layout-1 {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
    margin-bottom: 40px;
	flex: 1;

	.bTri .btn {
		position: fixed;
		top: var(--bBtn-top);
		width: var(--bBtn-size);
		height: var(--bBtn-size);
		border-radius: 20px;
		transform: rotate(45deg);
		font-size: 32px;
		z-index: 1;
	}
	.bTri.one .btn {
		left: calc(var(--bBtn-size) / -2)
	}
	.bTri.two .btn {
		right: calc(var(--bBtn-size) / -2)
	}
	.bTri.one .text {
		left: 30px
	}
	.bTri.two .text {
		right: 30px
	}
	.bTri .text {
		position: fixed;
		top: calc(var(--bBtn-top) + 60px);
		font-size: 32px;
		z-index: 1;
		pointer-events: none;
	}
	
	.dpad {
		margin-top: 35px;
		display: flex;
		flex-wrap: wrap;
		width: 150px;
		aspect-ratio: 1;
		filter: var(--btn-drop-shadow);
	}
	.dpad div {
		flex: 0 0 33.3333%;
		border: none;
		font-size: 25px;
		font-weight: bold;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		filter: none !important;
	}
	.dpad div.btn[data-key="PadN"] {
		border-radius: var(--dpad-radius) var(--dpad-radius) 0 0;
	}
	.dpad div.btn[data-key="PadW"] {
		border-radius: var(--dpad-radius) 0 0 var(--dpad-radius);
	}
	.dpad div.btn[data-key="PadE"] {
		border-radius: 0 var(--dpad-radius) var(--dpad-radius) 0;
	}
	.dpad div.btn[data-key="PadS"] {
		border-radius: 0 0 var(--dpad-radius) var(--dpad-radius);
	}
	div.btn, .dpad div.ctr {
		background: var(--btn-background-color);
		filter: var(--btn-drop-shadow);
	}
	div.btn.pressed {
		background: #acacac;
	}
	
	[data-key="A"] {
		margin-top: 30px;
		width: 150px;
		aspect-ratio: 1;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
	}
	
	.homeRow {
		margin-top: 20px;
		width: 200px;
		display: flex;
		justify-content: space-between;
	}
	.homeRow div {
		width: 30px;
		aspect-ratio: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
	
	.homeRow div[data-key="Home"] svg {
		transform: scale(0.7);
	}
	
	.numBtns {
		margin-top: 50px;
		width: 50px;
		height: 130px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.numBtns div {
		width: 100%;
		aspect-ratio: 1;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}