remote.layout-1 {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 25px;
    margin-bottom: 30px;
	flex: 1;

	.bTri .btn {
		position: fixed;
		top: var(--bBtn-top);
		width: var(--bBtn-size);
		height: var(--bBtn-size);
		border-radius: 20px;
		transform: rotate(45deg);
		font-size: 32px;
		z-index: 1;
	}
	.bTri.one .btn {
		left: calc(var(--bBtn-size) / -2);
	}
	.bTri.two .btn {
		right: calc(var(--bBtn-size) / -2);
	}
	.bTri.one .text {
		left: 30px;
	}
	.bTri.two .text {
		right: 30px;
	}
	.bTri .text {
		position: fixed;
		top: calc(var(--bBtn-top) + 60px);
		font-size: 32px;
		z-index: 1;
		pointer-events: none;
	}
	
	.dpad {
		display: flex;
		flex-wrap: wrap;
		width: 150px;
		aspect-ratio: 1;
		filter: var(--btn-drop-shadow);
	}
	.dpad div {
		flex: 0 0 33.3333%;
		border: none;
		font-size: 25px;
		font-weight: bold;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		filter: none !important;
	}
	.dpad div.btn[data-key="PadN"] {
		border-radius: var(--dpad-radius) var(--dpad-radius) 0 0;
	}
	.dpad div.btn[data-key="PadW"] {
		border-radius: var(--dpad-radius) 0 0 var(--dpad-radius);
	}
	.dpad div.btn[data-key="PadE"] {
		border-radius: 0 var(--dpad-radius) var(--dpad-radius) 0;
	}
	.dpad div.btn[data-key="PadS"] {
		border-radius: 0 0 var(--dpad-radius) var(--dpad-radius);
	}
	div.btn, .dpad div.ctr {
		background: var(--btn-background-color);
		filter: var(--btn-drop-shadow);
	}
	div.btn.pressed {
		background: var(--btn-pressed-background-color);
	}
	
	[data-key="A"] {
		margin-top: 30px;
		width: 150px;
		aspect-ratio: 1;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
	}
	
	.volumeBtns {
		position: absolute;
		display: flex;
		top: var(--bBtn-top);
		flex-direction: column;
		margin-top: 1rem;
		gap: 10vh;
	}
	.volumeBtns.left { left: 1rem; display: var(--bBtn-show-right); }
	.volumeBtns.right { right: 1rem; display: var(--bBtn-show-left); }
	.volumeBtns div, [data-key="Home"] {
		width: 2rem;
		aspect-ratio: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 30%;
	}
	.volumeBtns div i {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: currentColor;
	}
	
	[data-key="Home"] {
		color: var(--home-btn-color);
		position: absolute;
		top: 1rem;
		right: 1rem;
		border-radius: 50%;
		z-index: 15;
	}
	
	.numBtns {
		margin-top: 30px;
		width: 3rem;
		height: 130px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.numBtns div {
		width: 100%;
		aspect-ratio: 1;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}