.dialPopupBox {
    --background-color: white;
    --dimmer-background-color: rgba(0, 0, 0, 0.5);
    --options-separator-color: #ddd;
    --shadow: rgba(0, 0, 0, 0.2);
    --font-color: black;
    --selected-font-color: black;
    --selected-highlight-color: #cfecff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.2s ease;
    pointer-events: all;
}
.dialPopupBox.hidden {
    opacity: 0;
    pointer-events: none;
}
.dialPopupBackgroundDimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dimmer-background-color);
}

.dialPopupBox .dial-container {
    width: 80%;
    max-width: 300px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(0px);
    transition: transform 0.2s ease;
}
.dialPopupBox.hidden .dial-container {
    transform: translateY(100px);
}

.dialPopupBox .dial-container .dial {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* Firefox */
    box-shadow: 2px 2px 12px -2px var(--shadow);
    border-radius: 30px;
}
.dialPopupBox .dial-container .dial::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
.dialPopupBox .dial-container .dial div {
    width: 90%;
    margin: 0;
    padding: 0px;
    text-align: center;
    scroll-snap-align: center;
    cursor: pointer;
    border-bottom: 1px solid var(--options-separator-color);
    transition: background-color 0.3s ease;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialPopupBox .dial-container .dial div.not-a-valid-option {
    pointer-events: none;
}

.dialPopupBox .dial-container .dial div:first-child, .dialPopupBox .dial-container .dial div:last-child, .dialPopupBox .dial-container .dial div:nth-last-child(2) {
    border-bottom: none;
}

.dialPopupBox .dial-container .select-btn {
    margin-top: 2rem;
    background-color: var(--background-color);
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 12px -2px var(--shadow);
    cursor: pointer;
}

/* dark mode! */
@media (prefers-color-scheme: dark) {
	.dialPopupBox {
        --background-color: #212121;
        --dimmer-background-color: rgba(82, 82, 82, 0.5);
        --options-separator-color: #1f1f1f;
        --shadow: rgba(97, 97, 97, 0.2);
        --font-color: white;
        --selected-font-color: white;
        --selected-highlight-color: #2e5b89;
    }
}